<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <header class="bg-surface-primary border-bottom pt-6">
      <div class="container-fluid">
        <div class="mb-3">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
              <h1 class="h2 mb-0 ls-tight">Students</h1>
            </div>
            <div class="col-sm-6 col-12 text-sm-end">
              <div class="mx-n1">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openModal()"
                >
                  Add Student
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        <div class="row gap-3 mt-4">
          @for(student of studentData; track $index){
          <div class="col-sm-6 col-md-4 col-lg-3 col-12">
            <div class="card-grid" id="cardGrid">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="card-custom text-start ps-3 py-3">
                      <h4 class="text-capitalize">{{ student.name }}</h4>
                      <p>Email: {{ student.email }}</p>
                      <p>Phone: {{ student.phone }}</p>
                      <p>City: {{ student.city }}</p>
                      <button class="edit">Edit</button>
                      <button class="seperator">|</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <app-card [title]="student.name" [value]="student.email"></app-card> -->
          </div>
          }
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="studentModal" #studentModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Student Form</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="studentForm" [formGroup]="from">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <i class="fas fa-user"></i>
                <input
                  type="text"
                  class="form-control" 
                  formControlName="name"
                  placeholder="Name"
                  required
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <i class="fas fa-envelope"></i>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  placeholder="Email"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <i class="fas fa-phone-alt"></i>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  id="phone"
                  placeholder="Phone"
                  required
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <i class="fas fa-map-marker-alt"></i>
                <input
                  type="text"
                  class="form-control"
                  formControlName="address"
                  id="address"
                  placeholder="Address"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <i class="fas fa-city"></i>
                <input
                  type="text"
                  class="form-control"
                  formControlName="city"
                  id="city"
                  placeholder="City"
                  required
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <i class="fas fa-map-pin"></i>
                <input
                  type="text"
                  class="form-control"
                  formControlName="pinCode"
                  id="pinCode"
                  placeholder="Pin Code"
                  required
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary"  (click)="onSave()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
