<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <div class="h-screen flex-grow-1">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value">{{ tab.title }}</p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="'batch'">
          <div class="table-responsive">
            <table class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Batch Id</th>
                  <th scope="col">Batch Name</th>
                  <th scope="col">Enrollment Date</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Total Fees</th>
                </tr>
              </thead>
              <tbody>
                @for(batch of studentData; track $index){
                <tr>
                  <td>{{ batch.batchId }}</td>
                  <td>{{ batch.batchName }}</td>
                  <td>{{ batch.enrollDate | date : "MMM d, y, h:mm a" }}</td>
                  <td>{{ batch.startDate | date : "MMM d, y, h:mm a" }}</td>
                  <td>{{ batch.totalFees | currency }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </p-tabpanel>
        <p-tabpanel [value]="'payment'">
          <div class="table-responsive">
            <table class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Amount</th>
                  <th scope="col">Payment Date</th>
                  <th scope="col">Payment Mode</th>
                  <th scope="col">Remarks</th>
                  <th scope="col">Transaction Reference</th>
                </tr>
              </thead>
              <tbody>
                @for(feeDetails of studentFeeDetails; track $index){
                <tr>
                  <td>{{ feeDetails.amount }}</td>
                  <td>
                    {{ feeDetails.paymentDate | date : "MMM d, y, h:mm a" }}
                  </td>
                  <td>{{ feeDetails.paymentMode }}</td>
                  <td>{{ feeDetails.remarks }}</td>
                  <td>{{ feeDetails.transactionReference }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
