<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <div class="h-screen flex-grow-1">
    <header class="bg-surface-primary border-bottom pt-6">
      <div class="container-fluid">
        <div class="mb-3">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
              <h1 class="h2 mb-0 ls-tight">Batches</h1>
            </div>
            <div class="col-sm-6 col-12 text-sm-end">
              <div class="mx-n1">
                <input
                  class="me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openModal()"
                >
                  Add Batch
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main body content-->
    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        <div class="row g-6 mb-6">
          <div class="col-12">
            <div class="card shadow border-0 mb-7">
              <div class="table-responsive">
                <app-table
                  [columnArray]="columnData"
                  [gridData]="totalBatches"
                ></app-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="modal" id="studentModal" #studentModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Batch</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="batchForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <i class="fas fa-layer-group"></i>
                <input
                  type="text"
                  class="form-control"
                  id="batchName"
                  placeholder="Batch Name"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <i class="fas fa-chalkboard-teacher"></i>
                <input
                  type="text"
                  class="form-control"
                  id="teacher"
                  placeholder="Teacher Name"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <i class="fas fa-calendar-alt"></i>
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <i class="fas fa-calendar-check"></i>
                <input type="date" class="form-control" id="endDate" required />
              </div>
            </div>
            <div class="col-12 text-end">
              <button type="submit" class="btn btn-primary">Save Batch</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
