<div class="table-responsive">
  <table class="table table-hover table-nowrap">
    <thead class="thead-light">
      <tr>
        @for(column of columnArray; track $index){
        <th scope="col">{{ column.headername }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for(item of gridData; track $index){
      <tr>
        @for(column of columnArray; track $index){
        <td>
          <!-- @if(column.isDate && item[column.fieldname]){
          {{ item[column.fieldname] | date : "MMM d, y, h:mm a" }}
          } @else {
          {{ item[column.fieldname] }}
          } -->

          <!--  {{
            item[column.fieldname]
              ? (item[column.fieldname] | date : "MMM d, y, h:mm a")
              : item[column.fieldname]
          }} -->

          {{
            column.isDate
              ? (item[column.fieldname] | date : "MMM d, y, h:mm a")
              : item[column.fieldname]
          }}
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
