<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <div class="h-screen flex-grow-1">
    <header class="bg-surface-primary border-bottom pt-6">
      <div class="container-fluid">
        <div class="mb-3">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
              <h1 class="h2 mb-0 ls-tight">Students</h1>
            </div>
            <div class="col-sm-6 col-12 text-sm-end">
              <div class="mx-n1">
                <input
                  class="me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openModal()"
                >
                  Add Student
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        @if(isDataLoading) {
        <span class="sr-only me-6">Loading Student data...</span>
        <div class="spinner-border" role="status"></div>
        }
        <div class="row g-3">
          @for(student of studentData; track $index){
          <div class="col-sm-6 col-md-6 col-lg-4 col-12">
            <div class="card h-100 shadow">
              <div class="card-body d-flex flex-column">
                <h4
                  class="card-title text-capitalize"
                  routerLink="/admin/student-detail"
                  style="cursor: pointer"
                >
                  {{ student.name }}
                </h4>
                <p class="card-text mb-1">Email: {{ student.email }}</p>
                <p class="card-text mb-1">Phone: {{ student.phone }}</p>
                <p class="card-text mb-3">City: {{ student.city }}</p>

                <div class="mt-auto d-flex justify-content-end">
                  <div style="cursor: pointer" (click)="openModal(student)">
                    <i class="bi bi-pencil text-success me-1"> </i
                    ><span class="text-success">Edit</span>
                  </div>
                  <div
                    class="ms-3"
                    (click)="onDeleteStudent(student.studid)"
                    style="cursor: pointer"
                  >
                    <i class="bi bi-trash text-danger me-1"> </i
                    ><span class="text-danger">Delete</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="studentModal" #studentModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isEditMode ? "Edit Student" : "Add Student" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="studentForm" [formGroup]="studForm">
          <div class="row">
            @for(modalInput of modalFormInputs; track $index){
            <div class="col-6">
              <div class="form-group">
                <i [id]="modalInput.id" [class]="modalInput.icon"></i>
                <input
                  [type]="modalInput.type"
                  class="form-control"
                  [formControlName]="modalInput.formControlName"
                  [placeholder]="modalInput.placeholder"
                  [id]="modalInput.id"
                />
              </div>
              <div>
                @if((studForm.controls[modalInput.formControlName].invalid) &&
                (studForm.controls[modalInput.formControlName].touched ||
                studForm.controls[modalInput.formControlName].dirty ||
                isSubmittedForm) ) {
                @if(studForm.controls[modalInput.formControlName].errors?.['required'])
                {
                <span class="text-danger">
                  {{ "REQUIRED" | custom : modalInput.placeholder }}
                </span>
                }
                @if(studForm.controls[modalInput.formControlName].errors?.['minlength'])
                {
                <span class="text-danger">
                  {{
                    modalInput.formControlName === "phone"
                      ? ("MOB_MIN_LENGTH" | custom)
                      : modalInput.formControlName === "pinCode"
                      ? ("MIN_ZIPCODE_LENGTH" | custom)
                      : null
                  }}
                </span>
                } }
              </div>
            </div>
            }
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="onSave()">
          @if(isDataLoading){
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Saving... }@else{Save}
        </button>
      </div>
    </div>
  </div>
</div>
